<h1><%= t :orders, scope: 'activerecord.models' %></h1>

<div id="orderfilter">
  <%= link_to "Все        (#{Order.count})"                             ,    manager_index_path, id: 'all' %> |
  <%= link_to "Новые      (#{Order.count(conditions: "status_id = 1")})",   manager_newest_path, id: 'new' %> |
  <%= link_to "Принятые   (#{Order.count(conditions: "status_id = 2")})",   manager_inwork_path, id: 'inwork' %> |
  <%= link_to "Выполненые (#{Order.count(conditions: "status_id = 3")})",   manager_isdone_path, id: 'isdone' %> |
  <%= link_to "Отменённый (#{Order.count(conditions: "status_id = 4")})", manager_canceled_path, id: 'canceled' %>
</div>

<div id="find">
  <%= render template: "manager/find" %>
</div>

<table class="list">
  <tbody>
    <tr>
      <th><%= t :created_at,   scope: 'activerecord.attributes.order' %></th>
      <th><%= t :updated_at,   scope: 'activerecord.attributes.order' %></th>
      <th><%= t :company,      scope: 'activerecord.attributes.order' %></th>
      <th><%= t :creator_name, scope: 'activerecord.attributes.order' %></th>
      <th><%= t :phone,        scope: 'activerecord.attributes.order' %></th>
      <th></th>
    </tr>
    <% @orders.each do |order| %>
      <tr id=<%= "status#{order.status_id}" %>>
        <td><%= l order.created_at %></td>
        <td><%= l order.updated_at %></td>
        <td><%= "#{TypeOfLegalEntity.find(order.type_of_legal_entity_id).title} #{order.company}" %></td>
        <td><%= order.creator_name %></td>
        <td><%= order.phone %></td>
        <td>
          <%= link_to t('show'), order %> |
          <%= link_to t('edit'), edit_order_path(order) %> |
          <%= link_to t('destroy'), order, method: :delete, data: { confirm: t('are_you_sure_to_destroy')+'?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
