<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_of_certificate %>
    <%= f.collection_select :type_of_certificate_id, TypeOfCertificate.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :type_of_legal_entity %>
    <%= f.collection_select :type_of_legal_entity_id, TypeOfLegalEntity.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :creator_name %>
    <%= f.text_field :creator_name %>
  </div>
  <div class="field">
    <%= f.label :registered_address %>
    <%= f.text_field :registered_address %>
  </div>
  <div class="field">
    <%= f.label :actual_address %>
    <%= f.text_field :actual_address %>
  </div>
  <div class="field">
    <%= f.label :address_on_english %>
    <%= f.text_field :address_on_english %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :inn %>
    <%= f.text_field :inn %>
  </div>
  <div class="field">
    <%= f.label :kpp %>
    <%= f.text_field :kpp %>
  </div>
  <div class="field">
    <%= f.label :ogrn %>
    <%= f.text_field :ogrn %>
  </div>
  <div class="field">
    <%= f.label :bank %>
    <%= f.text_field :bank %>
  </div>
  <div class="field">
    <%= f.label :current_account %>
    <%= f.text_field :current_account %>
  </div>
  <div class="field">
    <%= f.label :correspondent_account %>
    <%= f.text_field :correspondent_account %>
  </div>
  <div class="field">
    <%= f.label :bik %>
    <%= f.text_field :bik %>
  </div>
  <div class="field">
    <%= f.label :bank_person %>
    <%= f.text_field :bank_person %>
  </div>
  <div class="field">
    <%= f.label :auditors_names %>
    <%= f.text_field :auditors_names %>
  </div>
  <div class="field">
    <%= f.label :list_of_works_category %><br/>
    <%= f.collection_select :list_of_works_category_ids, ListOfWorksCategory.all, :id, :title, {include_blank: false}, multiple: true %>
  </div>
  <% if permission == 'manager' %>
    <div class="field">
      <%= f.label :status %><br/>
      <%= f.collection_select :status_id, Status.all, :id, :title %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
