<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.order.type_of_certificate') %></strong>
  <%= TypeOfCertificate.find(@order.type_of_certificate_id).title %>
</p>
<p>
  <strong><%= t('activerecord.attributes.order.type_of_legal_entity') %></strong>
  <%= TypeOfLegalEntity.find(@order.type_of_legal_entity_id).title %>
</p>
<p>
  <strong><%= t('activerecord.attributes.order.company') %></strong>
  <%= @order.company %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.creator_name') %></strong>
  <%= @order.creator_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.registered_address') %></strong>
  <%= @order.registered_address %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.actual_address') %></strong>
  <%= @order.actual_address %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.address_on_english') %></strong>
  <%= @order.address_on_english %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.phone') %></strong>
  <%= @order.phone %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.fax') %></strong>
  <%= @order.fax %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.email') %></strong>
  <%= @order.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.inn') %></strong>
  <%= @order.inn %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.kpp') %></strong>
  <%= @order.kpp %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.ogrn') %></strong>
  <%= @order.ogrn %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.bank') %></strong>
  <%= @order.bank %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.current_account') %></strong>
  <%= @order.current_account %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.correspondent_account') %></strong>
  <%= @order.correspondent_account %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.bik') %></strong>
  <%= @order.bik %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.bank_person') %></strong>
  <%= @order.bank_person %>
</p>

<p>
  <strong><%= t('activerecord.attributes.order.auditors_names') %></strong>
  <%= @order.auditors_names %>
</p>
<p>
  <strong><%= t('activerecord.attributes.order.list_of_works_categories') %></strong>
  <%= @order.list_of_works_categories.map(&:title).join("/") %>
</p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
