<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :type_of_certificate %></strong>
  <%= TypeOfCertificate.find(@order.type_of_certificate_id).title %>
</p>
<p>
  <strong><%= t :type_of_legal_entity %></strong>
  <%= TypeOfLegalEntity.find(@order.type_of_legal_entity_id).title %>
</p>
<p>
  <strong>Company:</strong>
  <%= @order.company %>
</p>

<p>
  <strong>Creator name:</strong>
  <%= @order.creator_name %>
</p>

<p>
  <strong>Registered address:</strong>
  <%= @order.registered_address %>
</p>

<p>
  <strong>Actual address:</strong>
  <%= @order.actual_address %>
</p>

<p>
  <strong>Address on english:</strong>
  <%= @order.address_on_english %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @order.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Inn:</strong>
  <%= @order.inn %>
</p>

<p>
  <strong>Kpp:</strong>
  <%= @order.kpp %>
</p>

<p>
  <strong>Ogrn:</strong>
  <%= @order.ogrn %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @order.bank %>
</p>

<p>
  <strong>Current account:</strong>
  <%= @order.current_account %>
</p>

<p>
  <strong>Correspondent account:</strong>
  <%= @order.correspondent_account %>
</p>

<p>
  <strong>Bik:</strong>
  <%= @order.bik %>
</p>

<p>
  <strong>Bank person:</strong>
  <%= @order.bank_person %>
</p>

<p>
  <strong>Auditors names:</strong>
  <%= @order.auditors_names %>
</p>
<p>
  <strong><%= t :list_of_works_categories %></strong>
  <%= @order.list_of_works_categories.map(&:title).join("/") %>
</p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
