<!DOCTYPE html>
<html>
<head>
  <title>CertificatesStore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>">
  <div id="banner">
    <% image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
    <div id="language">
      <%= link_to('english', url_for(locale: 'en')) %> |
      <%= link_to('russian', url_for(locale: 'ru')) %><br/>
      <% if session[:user_email] %>
        <%= "Hello #{session[:user_email]}" %>
        <%= link_to t('logout'), logout_url, method: :delete %>
      <% else %>
        <%= link_to t('login'), login_path %>
      <% end %>
    </div>
  </div>
  <div id="columns">
    <div id="side"> 
      <ul>
        <li><%= link_to t('.home_page'), home_path, id: ("current_page" if controller.controller_name == 'home') %></li>
        <% if current_user_client? %>
          <li><%= link_to t('.my_orders_page'), my_orders_path, id: ("current_page" if controller.controller_name == 'my_orders') %></li>
        <% end %>
        <% if current_user_admin? %>
          <li><%= link_to t('.admin_page'),   admin_path, id: ("current_page" if controller.controller_name == 'admin') %></li>
          <li><%= link_to t('.orders_page'), orders_path, id: ("current_page" if controller.controller_name == 'orders') %></li>
          <li><%= link_to t('.users_page'),   users_path, id: ("current_page" if controller.controller_name == 'users') %></li>
        <% end %>
        <% if current_user_manager? or current_user_admin? %>
          <li><%= link_to t('.manager_page'), manager_path, id: ("current_page" if controller.controller_name == 'manager') %></li>
        <% end %>
      </ul>
    </div>
    <div id="main"> 
    
      <%= yield %>
    
    </div>
    <div id="footer">
      <%= t '.Ñopyright' %>
    </div>
  </div>
</body>
</html>
