<!DOCTYPE html>
<html>
<head>
  <title>CertificatesStore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>">
  <div id="banner">
    <% image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
    <div id="language">
      <%= link_to('english', url_for(locale: 'en')) %> |
      <%= link_to('russian', url_for(locale: 'ru')) %>
    </div>
  </div>
  <div id="columns">
    <div id="side"> 
      <ul>
        <%= content_tag(:li, link_to(t('.home_page'), home_path, :id => ("current_page" if controller.controller_name == 'home') ) ) %>
        <%= content_tag(:li, link_to(t('.orders_page'), orders_path, :id => ("current_page" if controller.controller_name == 'orders') ) ) %>
      </ul>
    </div>
    <div id="main"> 
    
      <%= yield %>
    
    </div>
    <div id="footer">
      <%= t '.Ñopyright' %>
    </div>
  </div>
</body>
</html>
