<!DOCTYPE html>
<html>
<head>
  <title>CertificatesStore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.controller_name %>">
  <div id="banner">
    <% image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
    <div id="language">
      <%= link_to('english', url_for(locale: 'en')) %> |
      <%= link_to('russian', url_for(locale: 'ru')) %><br/>
      <% if session[:user_email] %>
        <%= "Hello #{session[:user_email]}" %>
        <%= "session #{@last_user_id}" %>
        <%= link_to t('logout'), logout_url, method: :delete %>
      <% else %>
        <%= link_to t('login'), login_path %>
      <% end %>
    </div>
  </div>
  <div id="columns">
    <div id="side"> 
      <ul>
<<<<<<< HEAD
        <%= content_tag(:li, link_to(t('.home_page'),           home_path, id: ("current_page" if controller.controller_name == 'home'))) %>
        <%= content_tag(:li, link_to(t('.my_orders_page'), my_orders_path, id: ("current_page" if controller.controller_name == 'my_orders'))) if user_is 'client' %>
        <%= content_tag(:li, link_to(t('.admin_page'),         admin_path, id: ("current_page" if controller.controller_name == 'admin')))     if user_is 'admin' %>
        <%= content_tag(:li, link_to(t('.orders_page'),       orders_path, id: ("current_page" if controller.controller_name == 'orders')))    if user_is 'admin' %>
        <%= content_tag(:li, link_to(t('.users_page'),         users_path, id: ("current_page" if controller.controller_name == 'users')))     if user_is 'admin' %>
        <%= content_tag(:li, link_to(t('.manager_page'),     manager_path, id: ("current_page" if controller.controller_name == 'manager')))   if user_is %w(manager admin) %>
=======
        <%= content_tag(:li, link_to(t('.home_page'), home_path, id: ("current_page" if controller.controller_name == 'home'))) %>
	<% if current_user %>
	  <% if current_user.client? %>
	    <%= content_tag(:li, link_to(t('.my_orders_page'), my_orders_path, id: ("current_page" if controller.controller_name == 'my_orders'))) %>
	  <% end %>
	  <% if current_user.admin? %>
	    <%= content_tag(:li, link_to(t('.admin_page'), admin_path, id: ("current_page" if controller.controller_name == 'admin'))) %>
	    <%= content_tag(:li, link_to(t('.orders_page'), orders_path, id: ("current_page" if controller.controller_name == 'orders'))) %>
	    <%= content_tag(:li, link_to(t('.users_page'), users_path, id: ("current_page" if controller.controller_name == 'users'))) %>
	  <% end %>
	  <% if current_user.manager? or current_user.admin? %>
	    <%= content_tag(:li, link_to(t('.manager_page'),     manager_path, id: ("current_page" if controller.controller_name == 'manager'))) %>
	  <% end %>
	<% end %>
>>>>>>> fa6586db17ca8a7adebc1e5247d72a27d93ca57f
      </ul>
    </div>
    <div id="main"> 
    
      <%= yield %>
    
    </div>
    <div id="footer">
      <%= t '.Ñopyright' %>
    </div>
  </div>
</body>
</html>
